.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
img {
    
}

.infoFooter
{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    text-align: center;
}

.debugBox {
    white-space: pre-wrap;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: lightcyan;
    padding: 1em;
    border: 2px solid black;
}