@page "/Joystick"
@using System.Net
@using System.Net.Sockets
@using System.Text
@inject IJSRuntime JS
<PageTitle>Joystick</PageTitle>
<style>
    body {
        touch-action: none;
    }</style>

<link rel="stylesheet" href="/styles2.css" />

<div style="overflow: hidden;">
    <img src="joystick.png" id="joystick" class="noselect" style="border: 5px solid black; width: 100%; height: 100%; max-height: 700px; max-width: 700px; margin: auto;" @onpointerleave="StopJoystick" @onpointermove="JoystickP" @onpointerup="Stop" />
</div>

<div class="infoFooter">
    <table style="margin: auto;">
        <tr>
            <td>Connected: </td>
            <td>@(serv.connected ? serv.IPAddress.ToString() : "No")</td>
        </tr>
        @if (serv.connected)
        {
            <tr>
                <td>Distance: </td>
                <td>@serv.distance</td>
            </tr>
        }
    </table>
    @if (serv.connected)
    {

    }
</div>

<script>
    function fh() { return document.getElementById('joystick').height }
</script>
@code
{
    public async Task JoystickP(PointerEventArgs e)
    {
        if (e.Buttons == 1)
        {
            int dim = await JS.InvokeAsync<int>("fh");
            serv.Joystick((int)e.OffsetX, (int)e.OffsetY, dim);
        }
    }

    public void StopJoystick(MouseEventArgs e)
    {
        if (e.Buttons == 0) serv.Stop();
    }

    public void Stop()
    {
        serv.Stop();
    }

    //UI update timer 400 ms
    protected override void OnInitialized()
    {
        System.Threading.Timer timer;
        timer = new System.Threading.Timer(async _ =>
        {
            await InvokeAsync(StateHasChanged);
        }, null, 0, 250);
    }
}
