@page "/Jukebox"
@using System.Net
@using System.Net.Sockets
@using System.Text
@inject IJSRuntime JS
<PageTitle>Jukebox</PageTitle>
<link rel="stylesheet" href="/styles2.css" />

<div>Song number</div>
<InputNumber @bind-Value="songNumber" Min="1" Max="5"/>


<button @onclick="Play">Play song</button>
<button @onclick="Mute">Mute</button>

<br />
<input type="range" min="1" max="100" value="30" style="width: 80%; max-width: 500px; margin-top: 2em" id="slider">

@code
{
    public int songNumber = 1;
    public static SingletonService s;


    public void Play()
    {
        serv.Play(songNumber);
    }

    public void Mute()
    {
        serv.Mute();

    }

    //UI update timer 400 ms
    protected override void OnInitialized()
    {
        s = serv;
        System.Threading.Timer timer;
        timer = new System.Threading.Timer(async _ =>
        {
            await InvokeAsync(StateHasChanged);
        }, null, 0, 250);
    }

    //Call from JS to C#
    private IJSObjectReference? module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Components/Pages/Jukebox.razor.js");

            await module.InvokeVoidAsync("addHandlers");
        }
    }

    [JSInvokable]
    public static void SetVolume(int volume)
    {
        s.SetVolume(volume);
    }

}
